*{
    margin: 0px;
    padding: 0px;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: burlywood;
}

#calcBody{
    background: linear-gradient(90deg, black,gray,black);
    width: fit-content;
    height: fit-content;
    padding: 2vw;
    border-radius: 10px;
    margin-top: 2vh;
    border: 1px solid rgba(255, 255, 255, 0.295);
}


h1{
    font-size: 6vw;
}

.pads{
    display: grid;
    grid-template-columns: repeat(5,7vw);
    grid-auto-rows: 10vh;
    grid-gap:1vw;
    margin: 10px 0px 10px 0px ;
}

#screen{
   grid-column: 1/6;
   text-align: center;
   color: black;
   font-size: 200%;
}

#screenPad{
  grid-auto-rows: 10vh;
}

#enterBtn{
    grid-column: 1/4;
   
}




button{
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.562);
    box-shadow: 5px 5px 10px black;
    font-size: 80%;
    background-color: orangered;
    color: white;
}

button:hover{
    background-color:rgb(213, 86, 40);
    color:white;
    box-shadow: none;
}

@media screen and (max-width:1024px) {
    .pads{
        grid-template-columns: repeat(5,12vw);
    }
    button{
        font-size: 2vw;
    }
  
     
}

@media screen and (max-width:420px) {
    .pads{
        grid-template-columns: repeat(5,15vw);
        grid-gap: 3vw;
    }

    #calcBody{
        padding: 3vw;
    }


    
     
}
